*{
    box-sizing: border-box;

}

/*Styling for body, header, and h1*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 8px;
}

header {
    display:flex;
    background: #18558e;
    color: #fff;
    width: 100%;

}

h1 {
    padding: 40px;
    width: 50%;
    font-size: 40px;
    text-align:left;
   }

   /*Styling for Nav items*/
nav{
    width: 50%;
}

nav ul {
    list-style-type: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    display:flex;
   
}

nav ul li{
    margin: 30px;
}

nav ul li a {
    font-size: 20px;
    color:#fff;
}

a {
    color:#fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color:indianred; 
}
main {

}

/*Styling for 'about me' section*/
.about-me-image {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    width:200px;
    height:250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba (0,0,0,0.1);
}

#about, #work, #resume {
    display: flex;
}

#about h2, #resume h2{
    flex: 10%;
    color:#18558e;
    font-size: 25px;
    
}

#about p{
    flex: 70%;
    margin: 10px;
    padding: 80px;
    text-align: center;
}


#work h2{
    color:#18558e;
    font-size: 25px;
}


#resume p{
    flex: 70%;
    margin: 10px;
    padding: 10px;
    font-size: larger;
}

/*Create and Style for challenge assignment links in the grid*/
.project-grid {
    display:flex;
    justify-content:center;
    margin: 100px;
}

.grid-item {
    background-color:darkgrey;
    width: 250px;
    border: 10px solid #18558e;
    border-radius: 15px;
    padding: 20px;
    margin-inline-start: 60px;
}

.grid-item-one {
    background-image: url(MyPortfollio/assets/Horiseon.png);
    background-size: cover;
    background-position: center;

    width: 250px;
    border: 10px solid #18558e;
    border-radius: 15px;
    padding: 10px 20px;
}
/*Aside section and styling separate of main for contact information*/
aside {
    padding: 10px;
    background-color: #18558e;
}
aside h2 {
    font-size: larger;
    color:#fff
}
aside li {
    display: inline-flex;
    justify-content: center;
    margin-left: 200px;
    font-size:medium;
    color:#fff;
    font-weight: bold;
}

/*Responsive layout*/
@media screen and (max-width: 768px){
    #about, #work, #resume{
        display:block;
    }
    header{
        display: block;
    }
    nav{
        display:flex;
    }

}
@media screen and (min-width: 769px) {

}
